<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div id="shopping-list">
    <h1>{{ header || 'welcome'}}</h1>
    <input type="text" v-model="newItem" placeholder="Add an item">
    <strong>Priority</strong>
    <label><input type="radio" v-model="newItemPriority" value="high">High</label>
    <label><input type="radio" v-model="newItemPriority" value="low">Low</label>
    <label></label>
    {{newItem}} | {{newItemPriority}}
    <ul>
      <li v-for="(item, key) in items" :key="item.id">{{key}} {{item.label}}</li>
    </ul>
  </div>

  <script src="https://unpkg.com/vue@3"></script>
  <script>
    const shoppingListApp = Vue.createApp({
      data() {
        return {
          header: 'Shopping List App',
          newItem: '',
          newItemPriority: 'low',
          items: [{
              id: 1,
              label: '10 party hats'
            },
            {
              id: 2,
              label: '2 board games'
            },
            {
              id: 3,
              label: '20 cups'
            },
          ]
        }
      }
    }).mount('#shopping-list')
  </script>
</body>

</html>